<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CBPInventoryMaint.Properties.Settings.InventoryTestConnectionString1"
            connectionString="Data Source=ALEX-PC;Initial Catalog=InventoryTest;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="CBPInventoryMaint.Properties.Settings.InventoryTestConnectionString"
            connectionString="Data Source=DESKTOP-VB076EU;Initial Catalog=InventoryTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>